<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>material-v16</span>
    </mat-toolbar>
    <!-- <app-expansion></app-expansion> -->
    <div class="example-button-row">
      <!-- <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
      <button mat-icon-button matTooltip="Primary" appIsDarkTheme aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <!-- <button mat-icon-button matTooltip="Accent" color="accent" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <div matTooltip="Disabled" class="example-disabled">
        <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <a mat-icon-button matTooltip="Link" routerLink="." aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </a> -->
      <app-select></app-select>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>